In [1]:
dic = {'no': ['1\n', '2\n', '3\n', '4\n', '5\n', '6\n', '7\n', '8\n', '9\n', '10\n', '11\n', '12\n', '13\n'], 'kabupaten': ['Banggai\n', 'Banggai Kepulauan\n', 'Banggai Laut\n', 'Buol\n', 'Donggala\n', 'Morowali\n', 'Morowali Utara\n', 'Parigi Moutong\n', 'Poso\n', 'Sigi\n', 'Tojo Una-una\n', 'Toli-toli\n', 'Kota Palu\n'], 'kb_otg': ['0\n', '0\n', '0\n', '7\n', '0\n', '0\n', '0\n', '0\n', '1\n', '0\n', '0\n', '20\n', '0\n'], 'kl_otg': ['0\n', '1\n', '13\n', '9\n', '70\n', '84\n', '21\n', '87\n', '49\n', '15\n', '7\n', '23\n', '247\n'], 'sm_otg': ['0\n', '0\n', '0\n', '0\n', '', '0\n', '3\n', '0\n', '11\n', '1\n', '0\n', '0\n', '203\n'], 'ks_otg': ['0\n', '0\n', '13\n', '16\n', '70\n', '84\n', '18\n', '87\n', '39\n', '14\n', '7\n', '43\n', '44\n'], 'not_cvd_otg': ['0\n', '28\n', '16\n', '0\n', '38\n', '249\n', '249\n', '5\n', '234\n', '9\n', '18\n', '27\n', '431\n'], 'kb_odp': ['0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '2\n', '5\n'], 'kl_odp': ['4\n', '0\n', '0\n', '33\n', '0\n', '0\n', '1\n', '7\n', '2\n', '1\n', '2\n', '202\n', '32\n'], 'sm_odp': ['0\n', '0\n', '0\n', '9\n', '0\n', '0\n', '1\n', '1\n', '0\n', '0\n', '0\n', '43\n', '0\n'], 'ks_odp': ['4\n', '0\n', '0\n', '24\n', '0\n', '0\n', '0\n', '6\n', '2\n', '1\n', '2\n', '161\n', '37\n'], 'not_cvd_odp': ['49\n', '9\n', '1\n', '70\n', '32\n', '33\n', '14\n', '106\n', '45\n', '1\n', '31\n', '77\n', '167\n'], 'kb_pdp': ['0\n', '0\n', '0\n', '0\n', '1\n', '1\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n'], 'kl_pdp': ['0\n', '0\n', '0\n', '0\n', '0\n', '4\n', '5\n', '0\n', '3\n', '1\n', '1\n', '7\n', '1\n'], 'sm_pdp': ['0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '1\n', '0\n', '5\n', '1\n'], 'ks_pdp': ['0\n', '0\n', '0\n', '0\n', '1\n', '5\n', '5\n', '0\n', '3\n', '0\n', '1\n', '2\n', '0\n'], 'not_cvd_pdp': ['10\n', '0\n', '0\n', '6\n', '7\n', '16\n', '20\n', '6\n', '19\n', '11\n', '8\n', '15\n', '54\n'], 'positif': ['10\n', '4\n', '1\n', '57\n', '4\n', '12\n', '14\n', '1\n', '13\n', '5\n', '0\n', '18\n', '39\n'], 'sembuh': ['4\n', '1\n', '0\n', '50\n', '0\n', '10\n', '13\n', '0\n', '12\n', '3\n', '0\n', '12\n', '25\n'], 'meninggal': ['0\n', '0\n', '0\n', '0\n', '0\n', '0\n', '1\n', '0\n', '0\n', '0\n', '0\n', '0\n', '3\n']}

In [2]:
import pandas as pd
df = pd.DataFrame.from_dict(dic)
new_df = df.replace('\n','', regex=True)

print(new_df)

new_df.to_csv('tester.csv', index=False)

,no,kabupaten,kb_otg,kl_otg,sm_otg,ks_otg,not_cvd_otg,kb_odp,kl_odp,sm_odp,ks_odp,not_cvd_odp,kb_pdp,kl_pdp,sm_pdp,ks_pdp,not_cvd_pdp,positif,sembuh,meninggal
0,1,Banggai,0,0,0,0,0,0,4,0,4,49,0,0,0,0,10,10,4,0
1,2,Banggai Kepulauan,0,1,0,0,28,0,0,0,0,9,0,0,0,0,0,4,1,0
2,3,Banggai Laut,0,13,0,13,16,0,0,0,0,1,0,0,0,0,0,1,0,0
3,4,Buol,7,9,0,16,0,0,33,9,24,70,0,0,0,0,6,57,50,0
4,5,Donggala,0,70,,70,38,0,0,0,0,32,1,0,0,1,7,4,0,0
5,6,Morowali,0,84,0,84,249,0,0,0,0,33,1,4,0,5,16,12,10,0
6,7,Morowali Utara,0,21,3,18,249,0,1,1,0,14,0,5,0,5,20,14,13,1
7,8,Parigi Moutong,0,87,0,87,5,0,7,1,6,106,0,0,0,0,6,1,0,0
8,9,Poso,1,49,11,39,234,0,2,0,2,45,0,3,0,3,19,13,12,0
9,10,Sigi,0,15,1,14,9,0,1,0,1,1,0,1,1,0,11,5,3,0
10,11,Tojo Una-una,0,7,0,7,18,0,2,0,2,31,0,1,0,1,8,0,0,0
11,12,Toli-toli,20,23,0,43,27,2,202,43,161,77,0,7,5,2,15,18,12,0
12,13,Kota Palu,0,247,203,44,431,5,32,0,37,167,0,1,1,0,54,39,25,3

In [7]:
new_df.to_csv('tester.csv', index=False)